@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

body {
    margin: 0px;
    text-align: center;
    font-family: 'Source Code Pro';
    font-weight: 200;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    float: left;
    max-height: 20vh;
    max-width: 20vw;
    padding: 8px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    font-size: 1.2em;
}

.navbar li {
    display: flex;
    flex-direction: row;
    padding: 14px;
    align-items: center;
}

.navbar img {
    width: 30px;
    height: 30px;
    display: inline;
    padding: 8px;
}

.magazine-ad {
    min-height: 90vh;
    width: 100%;
    overflow: hidden;
    background-image: url("branding/SumptonGRGmagazines.png");
    background-color: black;
    align-items: center;
}

.magazine-ad-contents {
    width: 100%;
    color: white;
    text-align: center;
}

.magazine-ad-contents img {
    max-width: 80vw;
}

.magazine-ad-contents h1 {
    padding-top: 40px;
    padding-bottom: 0px;
}

.magazine-ad-contents p {
    max-width: 80%;
    margin: auto;
    padding: 16px;
}

#subscribe-button {
    padding: 40px 80px 40px 80px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.gazette-ad {
    min-height: 90vh;
    width: 100%;
    overflow: hidden;
    background-image: url("branding/SumptonGRGstreet.png");
    background-color: black;
    align-items: center;
}

.gazette-ad-contents {
    width: 100%;
    color: white;
    text-align: center;
}

.gazette-ad-contents img {
    max-width: 40vw;
    padding-top: 20vh;
}

.gazette-ad-contents p {
    max-width: 80%;
    margin: auto;
    padding: 16px;
}

.recent-articles {
    display: grid;
    grid-template-columns: auto auto auto;
}

.article-home{
    padding: 8px;
    max-width: 30vw;
}

.article-home img {
    max-width: 100%;
}

.article-home a{
    text-decoration: none;
    color: black;
}

.read-more-articles-button a{
    text-decoration: none;
}

.read-more-articles-button h3{
    text-align: center;
    color: white;
    background-color: black;
    margin-left: 35vw;
    margin-right: 35vw;
    font-size: 1.5em;
    padding: 16px;
}

.jumper-ad {
    background-image: url("branding/SumptonGRGjumper.png");
    background-size: cover;
    background-position-y: center;
}

.jumper-ad h1 {
    padding-top: 20vh;
    padding-bottom: 12px;
    color: white;
}

.jumper-ad p {
    padding: 16px;
    margin-bottom: 20vh;
    background-color: white;
    margin-left: 40vw;
    margin-right: 40vw;
    font-weight: bold;
    border-radius: 8px;
}

.footer ul {
    list-style-type: none;
}

.footer img {
    width: 30px;
    height: 30px;
    display: inline;
    padding: 8px;
}